docker/
node_modules/
public/
local-storage/
uploads/
dist/
.DS_Store
.vscode/
*.swo
*.swp
public/public-images/
assets/schemio.app.js
assets/schemio.app.drive.js
assets/schemio.app.static.js
assets/schemio.js
assets/schemio-standalone.js
assets/index-static.html
.release-notes
.webpack
out/
.exported-patcher-schema/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
