.app-container {
    display: flex;
    height: 100%;
    flex-direction: row;
}
.elec-navigator {
    width: 250px;
}
.elec-main-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.elec-tab-container {
    height: 30px;
    overflow: auto;
    white-space: nowrap;
}
.elec-file-container {
    flex: 1;
}

.elec-tab-container .file-tab {
    position: relative;
    display: inline-block;
    border-left: 1px solid #aaa;
    background: #cfcfcf;
    cursor: pointer;
    max-width: 180px;
    min-width: 110px;
    overflow: hidden;
}
.elec-tab-container .file-tab > span.title{
    display: inline-block;
    padding: 5px 30px 5px 10px;
    width: 100%;
    height: 100%;
    font-size: 13px;
}
.elec-tab-container .file-tab.selected {
    background: #bbb;
}
.elec-tab-container .file-tab .close {
    position: absolute;
    display: none;
    top: 5px;
    right: 2px;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    text-align: center;
    border-radius: 4px;
    background: none;
    font-size: 12px;
}
.elec-tab-container .file-tab:hover .close {
    display: block;
}
.elec-tab-container .file-tab .close:hover {
    background: #aaa;
}


.elec-navigator {
    overflow: auto;
    background: #f0f0f0;
}
.elec-navigator .navigator-spacing {
    display: inline-block;
}
.elec-navigator .navigator-entry {
    white-space: nowrap;
    padding: 3px 5px;
    font-size: 13px;
    cursor: pointer;
}
.elec-navigator .navigator-entry.focused {
    background: #dedede;
}
.elec-navigator .navigator-entry:hover {
    background: #ddd;
}


.elec-file-container > div {
    height: 100%;
    width: 100%;
}