.app-container {
    display: flex;
    height: 100%;
    flex-direction: row;
}
.elec-app-container .link {
    text-decoration: none;
    color: var(--accent-strong);
}
.elec-app-container .link:hover {
    text-decoration: none;
    color: var(--accent-faint-up);
}

.elec-navigator {
    border-right: 2px solid var(--faint-strong-down-2);
}
.elec-main-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--faint-weak);
}

.elec-tab-container {
    position: relative;
    height: 30px;
    width: 100%;
    white-space: nowrap;
    background: var(--faint-weak-down);
    user-select: none;
}
.elec-file-container {
    flex: 1;
}

.elec-file-progress-bar {
    position: absolute;
    height: 5px;
    background: red;
    width: 100%;
    z-index: 5;
    background: linear-gradient(90deg, var(--accent-strong-down) 0%, var(--accent-faint-up) 25%, var(--accent-faint-up) 50%, var(--accent-strong-down) 75%) 0% 0% / 60% 100%;
    animation: elec-progress-animation 30s linear infinite;
}
@keyframes elec-progress-animation {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 6000%
    }
}

.link.with-icon .icon {
    width: 22px;
}

input[type-text], select {
    outline: none;
}

.elec-welcome-panel, .elec-no-editor-panel {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.elec-welcome-container, .elec-no-editor-container {
    max-width: 400px;
}
.elec-welcome-container h1 {
    margin-bottom: 5px;
}
.elec-welcome-container .welcome-caption {
    margin-top: 5px;
    font-size: 22px;
}
.elec-welcome-container .welcome-caption .app-version {
    display: block;
    font-size: 16px;
    margin-top: 5px;
}
.elec-welcome-container h1,
.elec-welcome-container h3,
.elec-welcome-container .welcome-caption {
    color: var(--base-strong);
}
.elec-welcome-container h3 {
    margin-bottom: 5px;
}
.elec-welcome-container .link,
.elec-no-editor-container .link {
    font-size: 15px;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.elec-welcome-container .recent-projects {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid rgba(255, 255, 255, 0.0);
}
.elec-welcome-container .recent-projects .icon-delete {
    color: var(--critic-strong);
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    padding: 1px;
    border-radius: 1px;
    cursor: pointer;
}
.elec-welcome-container .recent-projects:hover {
    border: 1px solid var(--faint-strong-down-2);
}
.elec-welcome-container .recent-projects:hover .icon-delete {
    display: inline-block;
}
.elec-welcome-container .recent-projects:hover .icon-delete {
    opacity: 0.8;
}

.elec-no-editor-container .link {
    margin-top: 10px;
    margin-bottom: 10px;
}


.elec-tab-container .elec-tab-wrapper {
    width: 100%;
    position: absolute;
    height: 30px;
    overflow: hidden;
}
.elec-tab-container .file-tab {
    position: relative;
    display: inline-block;
    border-left: 1px solid var(--faint-strong-down);
    background: var(--faint-strong);
    cursor: pointer;
    max-width: 180px;
    min-width: 110px;
    height: 100%;
}
.elec-tab-container .file-tab.dragged-before::before {
    content: " ";
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    height: 30px;
    width: 3px;
    background: var(--base-weak);
}
.elec-tab-container .file-tab.dragged-after::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 3px;
    background: var(--base-weak);
}
.elec-tab-container .file-tab .icon-file-modified {
    position: absolute;
    opacity: 0.3;
    left: 5px;
    top: 8px;
    font-size: 10px;
}
.elec-tab-container .file-tab:first-child {
    border-left: none;
}
.elec-tab-container .file-tab:last-child {
    border-right: 1px solid var(--faint-strong-down);
}
.elec-tab-container .file-tab > span.title{
    display: inline-block;
    padding: 5px 30px 5px 20px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    overflow: hidden;
}
.elec-tab-container .file-tab.selected {
    background: var(--faint-weak);
}
.elec-tab-container .file-tab .close {
    position: absolute;
    display: none;
    top: 5px;
    right: 2px;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    text-align: center;
    border-radius: 4px;
    background: none;
    font-size: 12px;
}
.elec-tab-container .file-tab:hover .close {
    display: block;
}
.elec-tab-container .file-tab .close:hover {
    background: var(--faint-strong);
}
.elec-tab-container .file-tab.file-tab-dragged-preview {
    position: fixed;
    white-space:nowrap;
    height: 30px;
    z-index: 1000;
}
.elec-tab-container .scroller {
    display: none;
    position: absolute;
    width: 80px;
    height: 5px;
    cursor: grab;
    background: var(--faint-strong-down);
    bottom: 0;
    left: 10px;
}
.elec-tab-container:hover .scroller {
    display: block;
}
.elec-tab-container:hover .scroller.disabled {
    display: none;
}

.elec-navigator {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: var(--faint-weak);
    user-select: none;
}
.elec-navigator-expander {
    position: fixed;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--faint-strong-down-2);
    cursor: ew-resize;
    border: none;
    user-select: none;
    z-index: 100;
}
.elec-navigator-expander:hover {
    border-left: 1px solid var(--faint-strong-down-2);
    border-right: 1px solid var(--faint-strong-down-2);
}
.elec-navigator .navigator-header {
    height: 30px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    padding: 7px 13px;
    background: var(--faint-weak-down);
    border-bottom: var(--faint-strong-up) solid 1px;
}
.elec-navigator.collapsed .navigator-header {
    padding: 2px;
}
.elec-navigator .navigator-header .header-content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.elec-navigator .navigator-header .header-content .icon-btn {
    opacity: 0.7;
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.elec-navigator .navigator-header .header-content .icon-btn:hover {
    opacity: 1;
}
.elec-navigator .navigator-header .header-content .filler {
    flex: 1;
}
.elec-navigator.collapsed .navigator-header .toggle-button {
    padding: 4px;
}
.elec-navigator .navigator-body {
    height: 100%;
    flex: 1;
    overflow: auto;
}
.elec-navigator .navigator-spacing {
    display: inline-block;
}
.elec-navigator .navigator-entry {
    position: relative;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 3px 5px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
}
.elec-navigator .navigator-entry .entry-name {
    padding: 1px;
}
.elec-navigator .navigator-entry .icon {
    display: inline-block;
    padding-right: 5px;
}
.elec-navigator .navigator-entry input.renaming-textfield {
    flex: 1;
    border: none;
    outline: none;
    padding: 1px;
    margin: 0;
}
.elec-navigator .navigator-entry.focused {
    background: var(--faint-strong);
}
.elec-navigator .navigator-entry:hover {
    background: var(--faint-weak-up);
}
[data-theme="dark"] .elec-navigator .navigator-entry:hover {
    background: var(--faint-strong-down-2);
}
.elec-navigator .navigator-entry-drag-preview {
    background: var(--faint-strong);
    padding: 1px;
    border-radius: 2px;
    font-size: 13px;
}
.elec-navigator .navigator-entry-preview {
    position: fixed;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: var(--faint-weak-up);
    border: 1px solid var(--faint-weak-down);
    z-index: 100;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.elec-navigator .navigator-entry-preview h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.elec-navigator .navigator-entry-preview img {
    flex: 1;
    max-width: 250px;
    max-height: 250px;
}

.elec-file-container > div {
    height: 100%;
    width: 100%;
}