html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    height: 100%;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h5 {
    margin-top: 12px;
    margin-bottom: 7px;
}

.content-wrapper {
    margin: 10px;
}


.link {
    text-decoration: none;
    color: #2472ab;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

/******************** Menu *********************/
.menu {
    background: #3f4245;
    color: #fff;
    padding: 0;
    margin: 0;
}
.menu .menu-caption {
    display: inline-block;
}
.menu .menu-caption a, .menu .menu-caption a:visited {
    color: #efefef;
    font-weight: bold;
    font-size: 20pt;
    font-family:fantasy;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
.menu ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    display: inline;
}
.menu ul li span {
    display: inline-block;
    padding: 15px 10px;
    cursor: pointer;
}
.menu ul li span:hover {
    background: #272728;
}


ul.categories, ul.schemes {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.schemes li {
    position: relative;
    padding-bottom: 20px;
    padding-top: 5px;
}
ul.categories li a, ul.schemes li a {
    text-decoration: none;
    font-size: 14pt;
}
ul.categories li a {
    font-weight: bold;
}
ul.categories li a:hover, ul.schemes li a:hover {
    text-decoration: underline;
}
ul.categories li a i, ul.schemes li a i {
    font-size: 10pt;
    display: inline-block;
    padding: 0 4px 2px 0;
}
ul.schemes li .scheme-description {
    color: #777;
    font-size: 11pt;
    padding: 5px 0 5px 27px;
}
ul.schemes li .timestamp {
    font-size: 11pt;
    color: #777;
    font-style: italic;
    position: absolute;
    right: 10px;
    top: 4px;
}

/******************** Tabs *********************/
ul.tabs {
    list-style: none;
    margin: 10px 2px;
    padding: 0;
    border-bottom:2px solid #117d9e;
}
ul.tabs li {
    display: inline;
}
ul.tabs li .tab {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #c8d4d7;
    border-radius: 3px 3px 0 0;
    background: #fff;
    color: #555;
    cursor: pointer;
}
ul.tabs li .tab.active, ul.tabs li .tab.active:hover {
    color: #fff;
    background: #117d9e;
    border: 1px solid #117d9e;
    cursor: default;
}
ul.tabs li .tab:hover {
    background: #c3e9f5;
}
ul.tabs li .tab.disabled, ul.tabs li .tab.disabled:hover {
    border: 1px solid #c8d4d7;
    background: #eee;
    color: #aaa;
    cursor: default;
}

/******************* Buttons *******************/
.btn {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #777;
    color: #222;
}
.btn:hover {
    background: #80aed7;
    color: #fff;
    border: 1px solid #2b90b5;
}
.btn.btn-primary {
    background: #2b90b5;
    color: #fff;
    border: 1px solid #2b90b5;
}
.btn.btn-primary:hover {
    background: #80aed7;
    color: #fff;
    border: 1px solid #2b90b5;
}
/***********************************************/
/******************** Textfields *******************/
input.textfield, textarea.textfield {
    display: inline-block;
    width: 100%;
    color: #444;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #999;
}
textarea.textfield {
    height: 150px;
}


/******************* Pagination *********************/
ul.pagination {
    list-style: none;
    display: block;
    margin: 20px 0px;
    padding: 0;
}
ul.pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.pagination li a {
    display: inline-block;
    border: 1px solid #aaa;
    background: #fff;
    color: #666;
    padding: 3px 7px 3px 7px;
}
ul.pagination li.active a {
    display: inline-block;
    border: 1px solid #aaa;
    background: #6fb8f4;
    color: #fff;
}





.scheme-middle-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}




.scheme-name-header {
    margin: 0;
    font-size: 24px;
    fill: #333;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

/********************* Svg editor *******************/

.svg-editor svg {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text {
    font-family: "Lucida Console", monospace;
}
svg .item-container.item-type-component .item-graphics rect {
    cursor: pointer;
    cursor: hand;
}
svg .item-container.item-type-component.selected .item-graphics rect {
    opacity: 0.7;
}
svg .item-container.item-type-shape .item-graphics image {
    cursor: pointer;
    cursor: hand;
}
svg .item-container.item-type-shape.selected .item-graphics image {
    opacity: 0.7;
}
svg .item-container.item-type-overlay .item-graphics rect {
    stroke-width: 3;
    stroke: none;
    opacity: 0;
}
svg .item-container.item-type-overlay.selected .item-graphics rect {
    opacity: 0.5;
}
svg rect.boundary-box {
    stroke-width: 1;
    stroke: #faa;
    fill: rgba(255, 255, 255, 0.01);
}
svg rect.boundary-box-dragger {
    stroke: none;
    fill: #faa;
    cursor: pointer;
}
svg rect.boundary-box-dragger:hover {
    opacity: 0.5;
}

svg rect.item-search-highlight {
    stroke-width: 2;
    stroke: #faa;
    fill: rgba(212, 184, 101, 0.1);
}


svg .item-container.item-type-component .item-caption {
    font-weight: bold;
}

/**********************/
/*      Item link    */
svg .item-link circle {
    /*stroke: #752929;*/
    stroke-width: 2;
    /*fill: #752929;*/
}
svg .item-link .item-link-icon {
    fill: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
}
svg .item-link .item-link-full-title {
    display: none;
    font-size: 12px;
    font-weight: bold;
    font-family: helvetica;
    fill: #ff0000;
}
svg .item-link:hover .item-link-full-title {
    display: block;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    z-index: 5;
}


/*********************************/
/*  Hover states in view mode and interacting state */
svg.mode-view.state-interact .item-container.item-type-overlay:hover .item-graphics rect {
    opacity: 0.2;
    cursor: pointer;
}
svg.mode-view.state-interact .item-container.item-type-component:hover .item-graphics rect {
    opacity: 0.8;
    cursor: pointer;
}
svg.mode-view.state-interact .item-container.item-type-shape:hover .item-graphics image {
    opacity: 0.8;
    cursor: pointer;
}


/**************************************/
/* Hover state in create component state */
svg.state-create-component {
    cursor: crosshair;
}





/* Modal */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: table;
    transition: opacity .3s ease;
}
.modal-mask.modal-mask-transparent {
    background: none;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-container {
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #efefef;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .3s ease;
}
.modal-header h3 {
    margin-top: 0;
    color: #2f4752;
}
.modal-header h6 {
    font-weight: bold;
}
.modal-body {
    position: relative;
    margin: 20px 0;
    max-height: 550px;
    overflow: auto;
}
.modal-footer {
    border-top: 1px solid #777;
    margin-top: 10px;
    min-height: 40px;
}
.modal-controls {
    padding-top: 20px;
    text-align: right;
}
.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.scheme-editor-top-panel {
    position: fixed;
    top: 0;
    width: 100%;
    background: #5c696f;
    padding: 2px;
    z-index: 100;
}

/*********************** Button Group **********************/

ul.button-group {
    display: inline-block;
    margin: 0;
    padding: 2px;
    list-style: none;
}
ul.button-group li {
    display: inline-block;
    margin: 0 2px 0 2px;
    padding: 0;
}
ul.button-group li .toggle-button {
    display: inline-block;
    padding: 3px 5px 3px 5px;
    color: #888;
    background: none;
    cursor: pointer;
    cursor: hand;
    border-radius: 2px;
    font-weight: bold;
    text-transform: capitalize;
}
ul.button-group li .toggle-button.toggled {
    color: #fff;
    background: #2d90d0;
    cursor: pointer;
    cursor: hand;
}
ul.button-group li .toggle-button:hover {
    background: #56a7db;
    color: #fff;
}
ul.button-group li .toggle-button.toggled:hover {
    background: #2d90d0;
}
.scheme-editor-top-panel ul.button-group li .toggle-button {
    color: #999;
}
.scheme-editor-top-panel ul.button-group li .toggle-button.toggled {
    color: #111;
    background: #fff;
}
.scheme-editor-top-panel ul.button-group li .toggle-button:hover {
    background: #999;
    color: #111;
}
.scheme-editor-top-panel ul.button-group li .toggle-button.toggled:hover {
    background: #fff;
}




/***************************/
/*   Side Panel            */
/***************************/
.scheme-middle-container .side-panel {
    z-index: 101;
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.scheme-middle-container .side-panel.expanded {
    width: 400px;
}
.scheme-middle-container .side-panel .side-panel-overflow {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.scheme-middle-container .side-panel .wrapper {
    margin: 10px;
}
.scheme-middle-container .side-panel .side-panel-expander {
    display: inline-block;
    position: absolute;
    margin: auto;
    background: #f4f4f4;
    top: 0;
    bottom: 0;
    left: -12px;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #333;
    height: 40px;
    width: 12px;
}
.scheme-middle-container .side-panel .side-panel-expander:hover {
    color: #777;
}
.scheme-middle-container .side-panel .side-panel-expander i {
    margin-top: 10px;
    margin-left: 1px;
}



/******************* Panel *********************/
.panel {
    border-top: 2px solid #d3e5eb;
    margin: 2px;
    padding-top: 2px;
}
.panel-title {
    position: relative;
    display: block;
    font-weight: normal;
    color: #11a1cf;
    font-size: 14px;
    padding-bottom: 4px;
    padding-left: 15px;
    cursor: pointer;
}
.panel-title:before {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    left: 2px;
    top: 2px;
}
.panel-title.panel-expanded:before {
    content: '\25BC';
}
.panel-title.panel-collapsed:before {
    content: '\25BA';
}
.panel-title:hover {
    background: #e0edf1;
}


.textarea-wrapper {
    position: relative;
    padding: 0;
}
.textarea-wrapper .textarea-enlarge {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.2;
    cursor: pointer;
}
.textarea-wrapper .textarea-enlarge:hover {
    opacity: 1.0;
}


.item-properties textarea {
    width: 100%;
    min-height: 150px;
}
.property-row {
    position: relative;
}
.property-row .property-label {
    padding-left: 25px;
    font-size: 12px;
}
.property-row .property-textfield {
    position: absolute;
    right: 5px;
    width: 100px;
    height: 12px;
    font-size: 12px;
    border-radius: 1px;
    background: #f0f0f0;
    border: 1px solid #bbb;
}
.property-row .color-picker {
    position: absolute;
    top: 2px;
    left: 5px;
}
.color-picker-toggle-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #999;
}
.color-picker .vc-chrome {
    box-shadow: none;
}



/************* Links in Item Properties ***************/
.item-properties ul.links, .item-details ul.links {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item-properties ul.links li {
    position: relative;
}
.item-properties ul.links a {
    color: #555;
}
.item-properties ul.links li i.fas {
    font-size: 12px;
}
.item-properties ul.links .delete-link {
    opacity: 0.1;
    color: #f0905a;
}
.item-properties ul.links .delete-link:hover {
    opacity: 1.0;
}
.item-properties ul.links .edit-link {
    opacity: 0.1;
    color: #555;
}
.item-properties ul.links .edit-link:hover {
    opacity: 1.0;
}



/******************** Tags Input **********************/
.vue-tags-input {
    max-width: none !important;
    width: 100% !important;
}


/******************* Create Item Menu *****************/
.item-menu .item-container {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.item-menu .item-container i {
    display: block;
    width: 100%;
    text-align: center;
    color: #0885ba;
    font-size: 56px;
}
.item-menu .item-container img {
    display: block;
    width: 100%;
    max-height: 100px;
    text-align: center;
}
.item-menu .item-container span {
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #045e85;
}
.item-menu .item-container:hover {
    background: #25a7de;
}
.item-menu .item-container:hover i, .item-menu .item-container:hover span {
    color: #fff;
}


/******************** Connectors *********************/
svg.mode-edit .item-connector-hover-area {
    stroke: rgba(0,0,0,0.0);
    opacity: 0.0;
}
svg.mode-edit .item-connector-hover-area:hover {
    cursor: pointer;
}
svg.mode-edit .item-connector.selected {
    stroke: #55f;
}
svg.mode-edit .item-connector-reroute {
    cursor: pointer;
}


/*************** File upload **********************/
.file-upload-button {
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #bbb;
    border-radius: 2px;
    border: 1px solid #333;
    cursor: pointer;
}
.file-upload-button input[type='file']{
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    opacity: 0;
    left: -20px;
    top: -20px;
}
.file-upload-button .icon{
    font-size: 20px;
}
.image-preview {
    display: block;
    height: 200px;
}
.image-preview img {
    max-width: 400px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*********************** Category Selector ***********************/
.category-selector-container {
    position: relative;
}
.category-selector-container .category-selector-input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.category-selector-container .category-selector-input ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.category-selector-container .category-selector-input ul li{
    display: flex;
    flex-wrap: wrap;
}
.category-selector-container .category-selector-input ul li span {
    padding: 3px 5px;
    margin: 2px 4px 2px 4px;
    border-radius: 2px;
    background: #3b628b;
    color: #fff;
}
.category-selector-container .category-selector-input ul li i {
    margin: 5px 2px 2px 2px;
}
.category-selector-container .category-selector-input ul li.new-category-input{
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}
.category-selector-container .category-selector-input input[type='text']{
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    min-width: 100px;
    padding: 3px 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: inherit;
}
.category-selector-container .category-suggestions {
    position: absolute;
    max-height: 400px;
    width: 100%;
    overflow: auto;
}
.category-selector-container .category-suggestions ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}
.category-selector-container .category-suggestions ul li {
    width: 100%;
    padding: 3px 5px;
    margin: 0;
    background: #fff;
    color: #333;
    cursor: pointer;
    border-top: 1px solid #ccc;
}
.category-selector-container .category-suggestions ul li:hover {
    color: #fff;
    background: #3b628b;
}


/*********** category breadcrumb ************/
ul.category-breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.category-breadcrumb li {
    display: inline-block;
}
ul.category-breadcrumb li a {
    text-decoration: underline;
    color: #2472ab;
}
ul.category-breadcrumb li i {
    margin: 0px 7px;
}



/********************** Category Buckets *******************/
.category-buckets {
    display: flex;
    flex-wrap: wrap;
}
.category-buckets .category-bucket{
    width: 500px;
    display: block;
    max-height: 500px;
    background: #efefef;
    margin: 10px;
    padding: 0px;
}
.category-buckets .category-bucket .bucket-header a {
    margin:0;
    color: #fff;
    font-weight: bold;
}
.category-buckets .category-bucket .bucket-header {
    background: #5d7287;
    padding: 5px;
}
.category-buckets .category-bucket .bucket-body {
    padding: 5px;
}
.category-buckets .category-bucket .bucket-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/******************************* Modal Text Editor ******************************/
.textarea-enlarged-container .toolbar {
    margin-bottom: 10px;
}
.textarea-enlarged-container textarea {
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 4px;
}
.textarea-enlarged-container .markdown-preview {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.markdown pre {
    border: 1px solid #ccc;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
}
