body {
    font-family: Roboto,sans-serif;
    margin: 0;
    padding: 0;
}


/******************* Panel *********************/
.panel {
    margin: 1px;
    padding: 0px;
    background: #424346;
    color: #dddddd;
}
.panel-caption {
    padding: 2px;
    font-size: 9pt;
    font-weight: bold;
}


.scheme-middle-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.svg-editor svg {
    position: fixed;
    top: 0;
    left: 0;
}
svg .component rect {
    stroke-width: 1;
    stroke: #fff;
    cursor: pointer;
    cursor: hand;
}
svg .component.invisible rect {
    stroke-width: 3;
    stroke: none;
    fill: #fff;
    opacity: 0;
}
svg .component.selected rect {
    opacity: 0.7;
}

svg .component.invisible.selected rect {
    fill: rgba(255, 255, 255, 0.6);
    opacity: 1.0;
}


svg rect.boundary-box {
    stroke-width: 1;
    stroke: #faa;
    fill: none;
}
svg rect.boundary-box-dragger {
    stroke: none;
    fill: #faa;
    cursor: pointer;
}
svg rect.boundary-box-dragger:hover {
    opacity: 0.5;
}

/**********************/
/*      Item link    */
svg .item-link .item-link-icon {
    fill: #ff0000;
    font-weight: bold;
    font-family: helvetica;
}
svg .item-link .item-link-full-title {
    display: none;
    font-size: 12px;
    font-weight: normal;
    font-family: helvetica;
    fill: #ff0000;
}
svg .item-link:hover .item-link-full-title {
    display: block;
}


/*********************************/
/*  Hover states in view mode and interacting state */

svg.mode-view.state-interact .component.invisible:hover rect {
    fill: rgba(255, 255, 255, 0.3);
    opacity: 1.0;
    cursor: pointer;
}
svg.mode-view.state-interact .component:hover {
    opacity: 0.8;
    cursor: pointer;
}





.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: table;
    transition: opacity .3s ease;
}


/* Modal */

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-container {
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #222;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .3s ease;
}
.modal-header h3 {
    margin-top: 0;
    color: #d6c47e;
}
.modal-header h6 {
    font-weight: bold;
}
.modal-body {
    margin: 20px 0;
    max-height: 550px;
    overflow: auto;
}
.modal-footer {
    border-top: 1px solid #777;
    margin-top: 10px;
    min-height: 40px;
}
.modal-controls {
    padding-top: 20px;
    text-align: right;
}
.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.scheme-editor-top-panel {
    position: fixed;
    top: 0;
    width: 100%;
    background: #5c696f;
    padding: 2px;
    z-index: 100;
}
ul.button-group {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.button-group li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.button-group li span.toggle-button {
    padding: 2px 5px 2px 5px;
    border: 1px solid #5c696f;
    color: #fff;
    cursor: pointer;
    cursor: hand;
}
ul.button-group li span.toggle-button.toggled {
    padding: 2px 5px 2px 5px;
    border: 1px solid #a8bac3;
    color: #111;
    cursor: pointer;
    cursor: hand;
}
ul.button-group li span.toggle-button:hover {
    border: 1px solid #455055;
    background: #505e65;
}




/***************************/
/*   Item Properties       */
/***************************/
.scheme-middle-container .side-panel {
    z-index: 101;
    height: 100%;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.scheme-middle-container .side-panel > .wrapper {
    margin: 10px;
}
.item-properties h5.section {
    border-bottom: 2px solid #aed3de;
    font-weight: normal;
    color: #31b1d9;
    font-size: 14px;
    margin: 10px 0 5px 0;
    padding-bottom: 4px;
}
.item-properties textarea {
    width: 100%;
    min-height: 500px;
}
