/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue',sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #eee;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h5 {
    margin-top: 12px;
    margin-bottom: 7px;
}

.content-wrapper {
    margin: 60px 10px 10px 10px;
}


.text-nonselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:    none;
    user-select:    none;
    -o-user-select: none;
}


/******************* Middle content *********************/
.middle-content {
    margin-top: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.link {
    text-decoration: none;
    color: #2472ab;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}


/******************** Message panels *****************/
.msg.msg-error {
    color: #a42020;
}


/******************** Header *********************/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background: #3f4245;
    color: #fff;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.header .header-middle-section {
    display: inline-block;
}
.header a {
    color: #eee;
    text-decoration: none;
}
.header a.header-caption {
    display: inline-block;
    position: relative;
    color: #999;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 4px 4px 38px;
    height: 36px;
}
.header a.header-caption:hover {
    color: #eee;
}
.header a.header-caption img {
    position: absolute;
    left: 8px;
    top: 8px;
}
.header .hamburger-menu {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.header .hamburger-menu span {
    cursor: pointer;
}
.header .hamburger-menu > ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
}
.header .hamburger-menu:hover > ul {
    display: block;
}
.header .hamburger-menu > ul li {
    padding: 0;
    margin: 0;
}
.header .hamburger-menu > ul li a, .header .hamburger-menu > ul li span {
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    white-space: nowrap;
}
.header .hamburger-menu > ul li a:hover, .header .hamburger-menu > ul li span:hover {
    color: #fff;
    background: #2472ab;
}

ul.categories, ul.schemes {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.schemes li {
    position: relative;
    display: inline-block;
    margin: 15px;
}
ul.categories li a, ul.schemes li a {
    text-decoration: none;
    font-size: 14pt;
}
ul.categories li a {
    font-weight: bold;
}
ul.categories li a:hover, ul.schemes li a:hover {
    text-decoration: underline;
}
ul.categories li a i, ul.schemes li a i {
    font-size: 10pt;
    display: inline-block;
    padding: 0 4px 2px 0;
}
ul.schemes li a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    width: 300px;
    height: 200px;
    text-decoration: none;
}
ul.schemes li a h5 {
    margin: 14px 5px 1px 8px;
    font-size: 14px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
}
ul.schemes li a:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}
ul.schemes li a .image-wrapper {
    overflow: hidden;
    display: block;
    height: 120px;
    width: 298px;
    text-align: center;
    white-space: nowrap;
}
ul.schemes li a img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
ul.schemes li .scheme-description {
    position: absolute;
    color: #777;
    font-size: 12px;
    height: 48px;
    background: white;
    left: 0;
    bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
}
ul.schemes li .timestamp {
    font-size: 11px;
    color: #999;
    font-style: italic;
    position: absolute;
    right: 10px;
    top: 2px;
}

/******************** Tabs *********************/
ul.tabs {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    background: #aaa;
}
ul.tabs li {
    display: inline;
}
ul.tabs li .tab {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #aaa;
    background: #ddd;
    color: #555;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
ul.tabs li .tab.active, ul.tabs li .tab.active:hover {
    color: #444;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    cursor: default;
}
ul.tabs li .tab:hover {
    background: #fff;
}
ul.tabs li .tab.disabled, ul.tabs li .tab.disabled:hover {
    border: 1px solid #ddd;
    background: #ddd;
    color: #bbb;
    cursor: default;
}
.tabs-body {
    padding: 10px;
    margin: 0;
    background: #f4f4f4;
}

/******************* Buttons *******************/
.btn {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #777;
    color: #222;
}
.btn:hover {
    background: #80aed7;
    color: #fff;
    border: 1px solid #2b90b5;
}
.btn.btn-primary {
    background: #3a93db;
    color: #fff;
    border: 1px solid #3372a6;
}
.btn.btn-primary:hover {
    background: #51b4ec;
    color: #fff;
    border: 1px solid #4392bf;
}
.btn.btn-secondary {
    background: #ddd;
    color: #333;
    border: 1px solid #999;
}
.btn.btn-secondary:hover {
    background: #eee;
    color: #333;
    border: 1px solid #999;
}
.btn.btn-dangerous {
    background: #ba2e20;
    color: #fff;
    border: 1px solid #5c1d1d;
}
.btn.btn-dangerous:hover {
    background: #e6766b;
    color: #fff;
    border: 1px solid #7e3e3e;
}

.btn.btn-small {
    padding: 1px 2px;
}




/******************** Textfields *******************/
input.textfield, textarea.textfield {
    display: inline-block;
    width: 100%;
    color: #444;
    padding: 5px 10px 5px 10px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #999;
}
textarea.textfield {
    height: 150px;
}
input.textfield.textfield-small {
    width: 140px;
    padding: 1px;
    font-size: 12px;
}
input.textfield.missing-field-error {
    border: 1px solid #f55;
    box-shadow: 0 0 5px #f55;
}

/******************* Pagination *********************/
ul.pagination {
    list-style: none;
    display: block;
    margin: 20px 0px;
    padding: 0;
}
ul.pagination li {
    display: inline;
    margin: 0;
    padding: 0;
    padding: 3px 7px 3px 7px;
}
ul.pagination li span {
    color: #999;
}
ul.pagination li a, ul.pagination li a:visited {
    text-decoration: none;
    display: inline-block;
    color: #136bb3;
}
ul.pagination li a:hover {
    opacity: 0.8;
}
ul.pagination li a.current {
    display: inline-block;
    color: #777;
}





.scheme-middle-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/********************* Svg editor *******************/

.svg-editor svg {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.svg-editor svg foreignObject h1,
.svg-editor svg foreignObject h2,
.svg-editor svg foreignObject h3,
.svg-editor svg foreignObject h4,
.svg-editor svg foreignObject h4,
.svg-editor svg foreignObject h6 {
    color: unset;
}
svg .grid line {
    stroke-width: 1;
}
svg rect.multi-select-box {
    stroke-width: 2;
    stroke: #faa;
    stroke-dasharray: 4 4;
    fill: none;
}
svg .item-control-point {
    opacity: 0.5;
    cursor: pointer;
}
svg .item-control-point:hover {
    opacity: 1;
}
svg rect.boundary-box {
    stroke-width: 1;
    fill: rgba(255, 255, 255, 0.01);
    opacity: 0.5;
}
svg .boundary-box-dragger {
    stroke: none;
    cursor: pointer;
}
svg .boundary-box-dragger:hover {
    opacity: 0.5;
}

svg .boundary-box-connector-starter {
    stroke: 'none';
    opacity: 0.6;
}
svg .boundary-box-connector-starter:hover {
    opacity: 1;
}

svg rect.item-search-highlight {
    stroke-width: 2;
    stroke: #faa;
    fill: rgba(212, 184, 101, 0.1);
}


/********** Item Cursor *******************/
svg .item-cursor-pointer {
    cursor: pointer;
}


/**********************/
/*      Item link    */
svg .item-link circle {
    stroke-width: 2;
}
svg .item-link .item-link-icon {
    fill: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
}
svg .item-link .item-link-full-title {
    font-size: 16px;
    font-weight: normal;
    font-family: "Lucida Console", monospace;
    fill: #333;
}
svg .item-link .item-link-title {
    display: inline-block;
    padding: 2px 4px;
    background: #eee;
    color: #111;
    opacity: 0.8;
}
svg .item-link:hover .item-link-title {
    background: #222;
    color: #eee;
}
svg .item-edit-menu-link:hover circle {
    r: 15;
    cursor: pointer;
}
svg .item-edit-menu-link text.link-icon {
    font-weight: bold;
    font-size: 12px;
    fill: #fff;
    font-family: "Font Awesome 5 Free";
    cursor: pointer;
}
svg .item-edit-menu-link text.item-link-full-title {
    fill: #222;
    font-size: 12px;
    display: none;
}
svg .item-edit-menu-link:hover text.item-link-full-title {
    display: inline-block;
}


svg foreignObject .item-text-container > p:first-child {
    margin-top: 0;
}


/**************************************/
/* Hover state in create component state */
svg.state-create-component {
    cursor: crosshair;
}





/******************************* Modal ********************************/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: table;
    transition: opacity .3s ease;
}
.modal-mask.modal-mask-transparent {
    background: none;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-container {
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #efefef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .3s ease;
}
.modal-header h3 {
    margin-top: 0;
    color: #2f4752;
}
.modal-header h6 {
    font-weight: bold;
}
.modal-body {
    position: relative;
    margin: 20px 0;
    max-height: 550px;
    overflow: auto;
}
.modal-footer {
    border-top: 1px solid #777;
    margin-top: 10px;
    min-height: 40px;
}
.modal-controls {
    padding-top: 20px;
    text-align: right;
}
.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.top-right-panel a {
    color: #c1e5fb;
}

.top-right-panel {
    position: absolute;
    right: 5px;
    top: 5px;
}

.scheme-container {
    z-index: 98;
}

/*********************** Input Group ************************/
.input-group {
    display: inline-block;
    position: relative;
}
  
.input-group-item-inside {
    position: absolute;
    left: 5px;
    top: 7px;
}
  
/*********************** Button Group **********************/

ul.button-group {
    display: inline-block;
    margin: 0;
    padding: 2px;
    list-style: none;
}
ul.button-group li {
    display: inline-block;
    margin: 0 2px 0 2px;
    padding: 0;
}
ul.button-group li .toggle-button {
    display: inline-block;
    position: relative;
    padding: 3px 5px 3px 5px;
    color: #888;
    background: none;
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    text-transform: capitalize;
}
ul.button-group li .toggle-button.toggled {
    color: #fff;
    background: #2d90d0;
    cursor: pointer;
    cursor: hand;
}
ul.button-group li .toggle-button:hover {
    background: #56a7db;
    color: #fff;
}
ul.button-group li .toggle-button.toggled:hover {
    background: #2d90d0;
}
ul.button-group li .toggle-button.disabled:hover, ul.button-group li .toggle-button.disabled {
    color: #555 !important;
    background: none;
    cursor: default;
}
ul.button-group li .toggle-button .small-letter {
    position: absolute;
    bottom: 0;
    right: 1px;
    font-size: 8px;
}
.scheme-editor-top-panel ul.button-group li .toggle-button {
    color: #999;
}
.scheme-editor-top-panel ul.button-group li .toggle-button.toggled {
    color: #111;
    background: #fff;
}
.scheme-editor-top-panel ul.button-group li .toggle-button:hover {
    background: #999;
    color: #111;
}
.scheme-editor-top-panel ul.button-group li .toggle-button.toggled:hover {
    background: #fff;
}




/***************************/
/*   Side Panel            */
/***************************/
.scheme-middle-container .side-panel {
    height: 100%;
    width: 0px;
    position: absolute;
    padding-top: 45px;
    top: 0;
    background: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.scheme-middle-container .side-panel.side-panel-right {
    right: 0;
}
.scheme-middle-container .side-panel.side-panel-right.expanded {
    width: 400px;
}
.scheme-middle-container .side-panel.side-panel-left {
    left: 0;
}
.scheme-middle-container .side-panel.side-panel-left.expanded {
    width: 160px;
}
.scheme-middle-container .side-panel .side-panel-overflow {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.scheme-middle-container .side-panel .side-panel-expander {
    display: inline-block;
    position: absolute;
    margin: auto;
    background: #f4f4f4;
    top: 0;
    bottom: 0;
    cursor: pointer;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #333;
    height: 40px;
    width: 12px;
}
.scheme-middle-container .side-panel-right .side-panel-expander {
    border-left: 1px solid #aaa;
    left: -12px;
}
.scheme-middle-container .side-panel-left .side-panel-expander {
    border-right: 1px solid #aaa;
    right: -12px;
}
.scheme-middle-container .side-panel .side-panel-expander:hover {
    color: #777;
}
.scheme-middle-container .side-panel .side-panel-expander i {
    margin-top: 10px;
    margin-left: 1px;
}



/******************* Panel *********************/
.panel {
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 #ddd;
    margin: 2px;
    padding-top: 2px;
}
.panel-title {
    position: relative;
    display: block;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    padding-bottom: 4px;
    padding-left: 15px;
    cursor: pointer;
}
.panel-title:before {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    left: 2px;
    top: 3px;
}
.panel-title.panel-expanded:before {
    content: '\25BC';
}
.panel-title.panel-collapsed:before {
    content: '\25BA';
}
.panel-title:hover {
    color: #555;
}


/**************************** Item Properties ***********************/

.item-properties textarea {
    width: 100%;
    min-height: 150px;
}
.item-properties .btn {
    font-size: 14px;
    padding: 2px 5px 2px 5px;
}
.color-picker {
    display: inline-block;
}
.color-picker-toggle-button {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 1px solid #999;
}
.color-picker-toggle-button span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.color-picker-toggle-button span.color-picker-toggle-button-background {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQoU2M8c+bMfwY0oKenhy7EwDgUFP769QvDM5cuXcL0zBBQCADjtDObjg4SggAAAABJRU5ErkJggg==') repeat;
}
.color-picker .vc-chrome {
    box-shadow: none;
}

.image-property-container {
    position: relative;
    padding-right: 22px;
}
.image-property-container .upload-button-container {
    position: absolute;
    right: 0px;
    top: 0px;
}
.image-property-container .upload-button {
    position: relative;
    overflow: hidden;
    width: 19px;
    height: 23px;
    padding: 2px;
    background: #bbb;
    border: 1px solid #333;
    cursor: pointer;
}
.image-property-container .upload-button input[type='file']{
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    opacity: 0;
    left: -20px;
    top: -20px;
}
.image-property-container .upload-button .icon{
    font-size: 17px;
}


/*************** Properties Table (Item shape props) ****************/
.properties-table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 100%;
}
.properties-table td {
    padding: 2px;
}
.properties-table .label {
    font-size: 14px;
}
.properties-table .value select {
    width: 100%;
    height: 22px;
}
.properties-table .value input.textfield {
    width: 100%;
    padding: 2px 4px 2px 4px;
    font-size: 14px;
}
.properties-table tr:nth-child(even) {
    background: #eee;
}
.properties-table tr:nth-child(odd) {
    background: none;
}



/************* Links in Item Properties ***************/
.item-properties ul.links, .item-details ul.links {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item-properties ul.links li {
    position: relative;
}
.item-properties ul.links a {
    color: #555;
}
.item-properties ul.links li i.fas {
    font-size: 12px;
}
.item-properties ul.links .delete-link {
    opacity: 0.1;
    color: #f0905a;
}
.item-properties ul.links .delete-link:hover {
    opacity: 1.0;
}
.item-properties ul.links .edit-link {
    opacity: 0.1;
    color: #555;
}
.item-properties ul.links .edit-link:hover {
    opacity: 1.0;
}



/******************** Tags Input **********************/
.vue-tags-input {
    max-width: none !important;
    width: 100% !important;
}


/******************* Create Item Menu *****************/
.item-menu {
    padding: 5px 5px 15px 5px;
    position: relative;
}
.item-menu .btn {
    font-size: 12px;
}
.item-menu .item-container {
    display: inline-block;
    width: 42px;
    height: 32px;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}
.item-menu .item-container img {
    display: block;
    max-width: 60px;
    max-height: 60px;
    text-align: center;
}
.item-menu .item-container span {
    font-size: 12px;
}
.item-menu .item-container:hover {
    opacity: 0.6;
}
.item-menu .item-container.selected {
    background: #aaa;
}
.art-pack {
    padding: 2px 2px 15px 2px;
}
.art-pack-author {
    font-size: 12px;
}

.create-item-menu .preview-item {
    position: absolute;
    padding: 5px;
    width: 160px;
    background: #eee;
    right: -160px;
    top: 60px;
}
.create-item-menu .preview-item h4 {
    margin: 5px 0 5px 0;
}
.create-item-menu .preview-item img.preview-art {
    max-height: 100px;
    max-width: 100%;
}
.create-item-menu .preview-item .preview-item-description {
    font-size: 12px;
}

/******************** Connectors *********************/
svg.mode-edit .item-connector-hover-area {
    stroke: rgba(0,0,0,0.0);
    opacity: 0.0;
}
svg.mode-edit .item-connector-hover-area:hover {
    cursor: pointer;
}
svg.mode-edit .item-connector-reroute {
    cursor: pointer;
}


/*************** File upload **********************/
.file-upload-button {
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #bbb;
    border: 1px solid #333;
    cursor: pointer;
}
.file-upload-button input[type='file']{
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    opacity: 0;
    left: -20px;
    top: -20px;
}
.file-upload-button .icon{
    font-size: 20px;
}
.image-preview {
    display: block;
    height: 200px;
}
.image-preview img {
    max-width: 400px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*********************** Category Selector ***********************/
.category-selector-container {
    position: relative;
}
.category-selector-container .category-selector-input {
    border: 1px solid #ccc;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.category-selector-container .category-selector-input ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.category-selector-container .category-selector-input ul li{
    display: flex;
    flex-wrap: wrap;
}
.category-selector-container .category-selector-input ul li span {
    padding: 3px 5px;
    margin: 2px 4px 2px 4px;
    background: #3b628b;
    color: #fff;
}
.category-selector-container .category-selector-input ul li i {
    margin: 5px 2px 2px 2px;
    color: #111;
}
.category-selector-container .category-selector-input ul li.new-category-input{
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}
.category-selector-container .category-selector-input input[type='text']{
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    min-width: 100px;
    padding: 3px 5px;
    margin: 0;
    border: 1px solid #ccc;
    line-height: inherit;
}
.category-selector-container .category-suggestions {
    position: absolute;
    max-height: 400px;
    width: 100%;
    overflow: auto;
}
.category-selector-container .category-suggestions ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}
.category-selector-container .category-suggestions ul li {
    width: 100%;
    padding: 3px 5px;
    margin: 0;
    background: #fff;
    color: #333;
    cursor: pointer;
    border-top: 1px solid #ccc;
}
.category-selector-container .category-suggestions ul li:hover {
    color: #fff;
    background: #3b628b;
}


/*********** category breadcrumb ************/
ul.category-breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.category-breadcrumb li {
    display: inline-block;
}
ul.category-breadcrumb li a {
    text-decoration: underline;
    color: #2472ab;
}
ul.category-breadcrumb li i {
    margin: 0px 7px;
}



/********************** Category Buckets *******************/
.category-buckets {
    display: flex;
    flex-wrap: wrap;
}
.category-buckets .category-bucket{
    width: 500px;
    display: block;
    max-height: 500px;
    background: #efefef;
    margin: 10px;
    padding: 0px;
}
.category-buckets .category-bucket .bucket-header a {
    margin:0;
    color: #fff;
    font-weight: bold;
}
.category-buckets .category-bucket .bucket-header {
    background: #5d7287;
    padding: 5px;
}
.category-buckets .category-bucket .bucket-body {
    padding: 5px;
}
.category-buckets .category-bucket .bucket-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/******************************* Rich Text Editor ******************************/
.textarea-enlarged-container {
    display: grid;
    grid-template-rows: 40px auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: #ccc;
}
.textarea-enlarged-container .textarea-enlarged-top-panel {
    width: 100%;
}
.textarea-enlarged-container .editor-frame {
    width: 100%;
    height: 100%;
}
.textarea-enlarged-container textarea {
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 4px;
}
.textarea-enlarged-container .editor-content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
}
.textarea-enlarged-container .editor-content > div, .textarea-enlarged-container .editor-content  div.ProseMirror {
    width: 100%;
    height: 100%;
}
.textarea-enlarged-container .btn.action-close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.rich-text-editor-container .editor-frame {
    position: relative;
    border: 1px solid #999;
    background: white;
}
.rich-text-editor-container .editor-content {
    padding: 4px;
    overflow: auto;
}

.rich-text-editor-container .editor-frame.focused {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.rich-text-editor-container .editor-frame .editor-enlarge {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.2;
    cursor: pointer;
}
.rich-text-editor-container .editor-frame .editor-enlarge:hover {
    opacity: 1.0;
}

.rich-text-editor-container .ProseMirror > p:first-child {
    margin-top: 0;
}
.rich-text-editor-container .ProseMirror.ProseMirror-focused {
    outline: none;
}

.rich-text-editor-container .editor-menubar {
    height: 40px;
    padding:  7px 5px;
}

.rich-text-editor-container .editor-menubar .editor-icon {
    padding: 2px;
    display: inline-block;
    width: 24px;
    height: 22px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.rich-text-editor-container .editor-menubar .editor-icon.is-active {
    background: #333;
    color: #fff;
}

.rich-text-editor-container .editor-menubar .editor-icon:hover {
    background: #bbb;
    color: #333;
}

/**************  Dropdown    ********************/
.dropdown-container {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}
.dropdown-container .dropdown-click-area {
    display: inline-block;
    padding: 2px 4px;
    margin: 1px;
    cursor: pointer;
}
.dropdown-container .dropdown-click-area:hover {
    background: #fff;
    border: 1px solid #777;
    margin: 0;
}
.dropdown-container .dropdown-popup {
    position: fixed;
    z-index: 999;
    background: #fff;
    border: 1px solid #999;
    color: #555;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.dropdown-container .dropdown-popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
.dropdown-container .dropdown-popup ul li {
    position: relative;
    white-space: nowrap;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
.dropdown-container .dropdown-popup ul li:hover {
    background: #2ea5fb;
    color: #fff;
}
.dropdown-container .dropdown-popup ul li i.dropdown-option-icon {
    position: absolute;
    right: 5px;
}
.dropdown-container .dropdown-popup .dropdown-search {
    width: 100%;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
}

/******************************* Item List Popup ****************************/
.item-list-container {
    height: 400px;
    overflow: scroll;
    padding: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
    background: #fdfdfd;
}
.item-list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-list-container .unnamed-item {
    color: #999;
    font-style: italic;
}



/***************** Position Panel **************/
table.position-panel-table {
    width: 100%;
}
table.position-panel-table .property-label {
    padding-left: 5px;
    display: inline-block;
    width: 20px;
}



/************** Login Box ******************/
.login-box {
    max-width: 400px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #aaa;
    background: #fff;
}
.login-box h2 {
    margin: 0;
    padding: 5px;
    background: #666;
    color: white;
}
.login-box .login-box-body {
    padding: 20px;
}
.login-box .login-box-body .textfield {
    margin-bottom: 10px;
}
.login-box .error-message {
    color: red;
}



/****************** search page ****************/
.search-view .search-layout {
    display: flex;
}
.search-view .search-layout .search-attributes-panel {
    flex: 1;
}
.search-view .search-layout .search-results {
    flex: 4;
}

.category-tree .category-selector {
    position: relative;
}
.category-tree .category-selector .category-menu {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}
.category-tree .category-selector:hover > .category-menu {
    display: inline-block;
}
.category-tree .category-selector a, .search-view .category-tree .category-selector a:visited {
    display: block;
    width: 100%;
    color: #246c8f;
    text-decoration: none;
    padding: 2px 60px 2px 4px;
    cursor: pointer;
    cursor: hand;
}
.category-tree .category-selector a:hover {
    text-decoration: underline;
}
.category-tree .category-selector.selected a, .search-view .category-tree .category-selector.selected a:visited {
    background: #246c8f;
    color: white;
}
.category-tree .category-children {
    padding-left: 15px;
}

/****************** Tag Filter ********************/
.tag-filter-container ul.tag-filter {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tag-filter-container ul.tag-filter li {
    margin: 5px;
    display: inline;
}
.tag-filter-container ul.tag-filter li .tag {
    display: inline-block;
    padding: 5px 10px;
    background: #ddd;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.tag-filter-container ul.tag-filter li .tag:hover {
    background: #999;
    color: white;
}
.tag-filter-container ul.tag-filter li .tag.selected {
    background: #333;
    color: white;
}
.tag-filter-container ul.tag-filter li .tag.selected:hover {
    background: #999;
    color: white;
}

/************* Behavior Properties **********************/
.behavior-container {
    position: relative;
    margin-bottom: 10px;
}
.behavior-container .behavior-event-add-action {
    padding-left: 40px;
}

.behavior-event {
    position: relative;
    padding-left: 35px;
}
.behavior-event .behavior-menu {
    position: absolute;
    display: block;
    left: 4px;
    top: 0;
}
.behavior-event .behavior-right-menu {
    position: absolute;
    display: none;
    right: 4px;
    top: 0;
}
.behavior-event:hover .behavior-right-menu {
    display: block;
}
.behavior-event .behavior-right-menu .icon-delete {
    color: #f55;
}
.behavior-event .dropdown-click-area {
    font-size: 14px;
}
.behavior-action-container {
    position: relative;
    padding-left: 40px;
    margin-top: 5px;
}
.behavior-action-container > div {
    display: inline-block;
}
.behavior-action-container .dropdown-click-area {
    font-size: 14px;
}
.behavior-action-container .element-picker .dropdown-click-area span.element-name {
    white-space: nowrap;
}
.behavior-action-container .icon-container {
    position: absolute;
    left: 20px;
    top: 0;
}
.behavior-action-container .icon-container .icon-action {
    display: inline-block;
    font-size: 8px;
    opacity: 0.3;
}
.behavior-action-container .icon-container .icon-delete {
    display: none;
    opacity: 0.6;
    color: #f55;
}
.behavior-action-container:hover .icon-container .icon-action {
    display: none;
}
.behavior-action-container:hover .icon-container .icon-delete {
    display: block;
}
.behavior-action-container .icon-container .icon-delete:hover {
    opacity: 1.0;
}
.behavior-event-add-action {
    visibility: hidden;
    margin-top: 6px;
}
.behavior-container:hover .behavior-event-add-action {
    visibility: visible;
}

.behavior-action-container .action-method-arguments-expand {
    display: inline-block;
    padding: 2px 4px;
    margin: 1px;
    cursor: pointer;
}
.behavior-action-container .action-method-arguments-expand:hover {
    margin: 0;
    border: 1px solid #777;
    background: white;
}

/***************** Element Picker ****************/
.element-picker .picked-element.picked-element-type-item {
    color: #036503;
}
.element-picker .picked-element.picked-element-type-connector {
    color: #0250a8;
}
.element-picker .picked-element.picked-element-type-item-group {
    color: #950cd5;
}
.element-picker .picked-element.picked-element-type-error {
    color: #9b0b0b;
    font-weight: bold;
}


/**************** Context Menu *****************/
.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}
.context-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.context-menu ul li {
    position: relative;
    padding: 4px 7px 4px 30px;
    color: #333;
    cursor: pointer;
}
.context-menu ul li i {
    position: absolute;
    left: 4px;
}
.context-menu ul li:hover {
    background: #ccc;
}


/******************** Item Tooltip ***************/
.item-tooltip {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
    overflow: auto;
}
.item-tooltip h3 {
    margin-top: 0;
}

.item-tooltip .item-tooltip-close {
    position: absolute;
    top: 5px;
    right: 8px;
    opacity: 0.4;
    cursor: pointer;
}
.item-tooltip .item-tooltip-close:hover {
    opacity: 1.0;
}

.item-tooltip h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

/***************** Item Selector *********************/
.item-selector {
    overflow: scroll;
    background: white;
    border: 1px solid #999;
    padding: 2px;
}

.item-selector .item-row {
    white-space: nowrap;
}
.item-selector .item-row .item-level-spacing {
    display: inline-block;
    width: 20px;
    height: 10px;
}
.item-selector .item-row .item {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
}
.item-selector .item-row .item .item-collapser {
    position: absolute;
    left: -15px;
    top: 0;
    cursor: pointer;
}
.item-selector .item-row .item .item-collapser:hover {
    color: #2472ab;
}
.item-selector .item-row .item .item-name {
    font-size: 12px;
    display: inline-block;
    min-width: 50px;
}
.item-selector .item-row .item.selected {
    background: #a4cdeb;
}

.item-selector .item-row .item .item-right-panel {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    white-space: nowrap;
}

.item-selector .item-row .item .item-right-panel .icon .icon-unlocked {
    opacity: 0.3;
}
.item-selector .item-row .item .item-right-panel .icon .icon-locked {
    opacity: 0.6;
}
.item-selector .item-row .item .item-right-panel .icon .icon-visible {
    opacity: 0.6;
}
.item-selector .item-row .item .item-right-panel .icon .icon-invisible {
    opacity: 0.3;
}

.item-selector .item-row .item input[type='text'] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1px;
    height: 20px;
    width: 200px;
    border: 1px solid #999;
}


.item-selector .item-row .droppable-line {
    height: 4px;
    background: red;
}

.item-selector .item-row.item-droppable-highlight {
    opacity: 0.5;
}

/****************** Language Markup ***************/
pre.syntax-markup {
    padding: 30px 10px 10px 10px;
}
pre.syntax-markup code {
    padding: 0 !important;
}
pre.syntax-markup.syntax-theme-dark {
    color: #ccc;
}