.ssc-container {
    font-family: 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue',sans-serif;
}
.ssc-container .ssc-header {
    position: absolute;
    top: 0;
    left: 0;
    background: #dddddd;
    border-bottom: 1px solid #cccccc;
    display: block;
    width: 100%;
    font-size: 14px;
}
.ssc-container .ssc-header .ssc-schemio-logo {
    position: absolute;
    right: 5px;
    top: 6px;
}

.ssc-button {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #777;
    color: #222;
}
.ssc-button:hover {
    background: #80aed7;
    color: #fff;
    border: 1px solid #2b90b5;
}

.ssc-container svg {
    margin-top: 30px;
}


.ssc-container svg foreignObject .item-text-container p:first-child {
    margin-top: 0;
}
.ssc-container svg foreignObject .item-text-container p {
    min-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

/******************** Item Tooltip ***************/
.item-tooltip {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
    overflow: auto;
}
.item-tooltip h3 {
    margin-top: 0;
}

.item-tooltip .item-tooltip-close {
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 8px;
    opacity: 0.4;
    cursor: pointer;
}
.item-tooltip .item-tooltip-close:hover {
    opacity: 1.0;
}

.item-tooltip h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.ssc-side-panel-right {
    position: absolute;
    text-align: left;
    background: #f0f0f0;
    height: 100%;
    top: 0;
    right: 0;
    padding: 5px;
    overflow: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}