name: Line chart
description: ""
args:
    cornerRadius: {type: "number", value: 10, name: "Corner radius", min: 0}
    lineType : {type: 'choice', value: 'smooth', options: ['linear', 'smooth'], name: 'Line Type'}
    xMin: {type: 'number', value: 0, name: 'X min'}
    xMax: {type: 'number', value: 100, name: 'X max'}
    xStep: {type: 'number', value: 10, name: 'X step'}
    yMin: {type: 'number', value: 0, name: 'Y min'}
    yMax: {type: 'number', value: 100, name: 'Y max'}
    datasets:
      name: "Datasets"
      singular: graph
      type: array
      value:
        - id: 24tUTkZnn
          name: Data 1
          values: "20, 40, 30, 50"
          color: "#355E97FF"
          strokeSize: 2
          strokePattern: solid
      args:
        name: {type: "string", value: "Data ##IDX##", name: "Name"}
        values: {type: "string", value: "20, 40, 25, 45", name: "Values"}
        color: {type: "color", value: "#355E97FF", name: "Color"}
        strokeSize: {type: "number", value: 2, name: "Stroke size", min: 0}
        strokePattern: {type: "stroke-pattern", value: "solid", name: "Stroke Pattern"}

preview: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhodG1sPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hodG1sIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iLTEwIC0xMCAzNDAgMjIwIj48ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCwwKSByb3RhdGUoMCkiIGRhdGEtc3ZnLWl0ZW0tY29udGFpbmVyLWlkPSJaZ2txU09HSVkiIGRhdGEtaXRlbS1pZD0iWmdrcVNPR0lZIj4gIDxnIHN0eWxlPSJvcGFjaXR5OiAxOyBtaXgtYmxlbmQtbW9kZTogbm9ybWFsOyI+IDxkZWZzLz4gPGcgZmlsdGVyPSIiPiA8ZyBzdHlsZT0ib3BhY2l0eTogMTsiPjxnPjxnPjxnPiA8L2c+IDxwYXRoIGQ9Ik0gMTAwIDYwICBMIDIwIDYwIGEgMjAgMjAgMCAwIDEgLTIwIC0yMCAgTCAwIDIwICBhIDIwIDIwIDAgMCAxIDIwIC0yMCAgIEwgMTAwIDAgICBhIDIwIDIwIDAgMCAxIDIwIDIwICBMIDEyMCA0MCAgIGEgMjAgMjAgMCAwIDEgLTIwIDIwIFoiIHN0cm9rZS13aWR0aD0iMnB4IiBzdHJva2U9InJnYmEoMzAsMzAsMzAsMS4wKSIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZmlsbD0icmdiYSgyNDAsMjQwLDI0MCwxLjApIi8+PC9nPjwvZz48L2c+ICA8ZyBzdHlsZT0ib3BhY2l0eTogMTsiLz48L2c+ICA8ZyBpZD0iYW5pbWF0aW9uLWNvbnRhaW5lci1aZ2txU09HSVkiLz4gICAgICAgPC9nPjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDE0MCkgcm90YXRlKDApIiBkYXRhLXN2Zy1pdGVtLWNvbnRhaW5lci1pZD0iaDdSV0p0UTBLIiBkYXRhLWl0ZW0taWQ9Img3UldKdFEwSyI+ICA8ZyBzdHlsZT0ib3BhY2l0eTogMTsgbWl4LWJsZW5kLW1vZGU6IG5vcm1hbDsiPiA8ZGVmcy8+IDxnIGZpbHRlcj0iIj4gPGcgc3R5bGU9Im9wYWNpdHk6IDE7Ij48Zz48Zz48Zz4gPC9nPiA8cGF0aCBkPSJNIDEwMCA2MCAgTCAyMCA2MCBhIDIwIDIwIDAgMCAxIC0yMCAtMjAgIEwgMCAyMCAgYSAyMCAyMCAwIDAgMSAyMCAtMjAgICBMIDEwMCAwICAgYSAyMCAyMCAwIDAgMSAyMCAyMCAgTCAxMjAgNDAgICBhIDIwIDIwIDAgMCAxIC0yMCAyMCBaIiBzdHJva2Utd2lkdGg9IjJweCIgc3Ryb2tlPSJyZ2JhKDMwLDMwLDMwLDEuMCkiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9InJnYmEoMjQwLDI0MCwyNDAsMS4wKSIvPjwvZz48L2c+PC9nPiAgPGcgc3R5bGU9Im9wYWNpdHk6IDE7Ii8+PC9nPiAgPGcgaWQ9ImFuaW1hdGlvbi1jb250YWluZXItaDdSV0p0UTBLIi8+ICAgICAgIDwvZz48L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAsNjApIHJvdGF0ZSgwKSIgZGF0YS1zdmctaXRlbS1jb250YWluZXItaWQ9ImRwUXQ3Tlk4dyIgZGF0YS1pdGVtLWlkPSJkcFF0N05ZOHciPiAgPGcgc3R5bGU9Im9wYWNpdHk6IDE7IG1peC1ibGVuZC1tb2RlOiBub3JtYWw7Ij4gPGRlZnMvPiA8ZyBmaWx0ZXI9IiI+PGcgbW9kZT0iZWRpdCIgc3R5bGU9Im9wYWNpdHk6IDE7Ij48Zz4gPC9nPiA8cGF0aCBkPSJNIDEwMCAwIEMgMTAwIDM4Ljg3IDAgIDIxLjEzIDAgNjAgIiBzdHJva2Utd2lkdGg9IjJweCIgc3Ryb2tlPSJyZ2JhKDMwLDMwLDMwLDEuMCkiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZpbGw9Im5vbmUiIHN0eWxlPSJzdHJva2UtbGluZWpvaW46IHJvdW5kOyIvPiA8Zz48cGF0aCBkPSJNIC01IDYwIEwgMCA4MCBMIDUgNjAgIHogIiBzdHJva2U9InJnYmEoMzAsMzAsMzAsMS4wKSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJyZ2JhKDMwLDMwLDMwLDEuMCkiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L2c+PC9nPiAgIDwvZz4gIDxnIGlkPSJhbmltYXRpb24tY29udGFpbmVyLWRwUXQ3Tlk4dyIvPiAgICAgICA8L2c+PC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwMCwxNDApIHJvdGF0ZSgwKSIgZGF0YS1zdmctaXRlbS1jb250YWluZXItaWQ9Ik1Nanh4QXptVzQiIGRhdGEtaXRlbS1pZD0iTU1qeHhBem1XNCI+ICA8ZyBzdHlsZT0ib3BhY2l0eTogMTsgbWl4LWJsZW5kLW1vZGU6IG5vcm1hbDsiPiA8ZGVmcy8+IDxnIGZpbHRlcj0iIj4gPGcgc3R5bGU9Im9wYWNpdHk6IDE7Ij48Zz48Zz48Zz4gPC9nPiA8cGF0aCBkPSJNIDEwMCA2MCAgTCAyMCA2MCBhIDIwIDIwIDAgMCAxIC0yMCAtMjAgIEwgMCAyMCAgYSAyMCAyMCAwIDAgMSAyMCAtMjAgICBMIDEwMCAwICAgYSAyMCAyMCAwIDAgMSAyMCAyMCAgTCAxMjAgNDAgICBhIDIwIDIwIDAgMCAxIC0yMCAyMCBaIiBzdHJva2Utd2lkdGg9IjJweCIgc3Ryb2tlPSJyZ2JhKDMwLDMwLDMwLDEuMCkiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZmlsbD0icmdiYSgyNDAsMjQwLDI0MCwxLjApIi8+PC9nPjwvZz48L2c+ICA8ZyBzdHlsZT0ib3BhY2l0eTogMTsiLz48L2c+ICA8ZyBpZD0iYW5pbWF0aW9uLWNvbnRhaW5lci1NTWp4eEF6bVc0Ii8+ICAgICAgIDwvZz48L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYwLDYwKSByb3RhdGUoMCkiIGRhdGEtc3ZnLWl0ZW0tY29udGFpbmVyLWlkPSJSSkhNU2FYUTYiIGRhdGEtaXRlbS1pZD0iUkpITVNhWFE2Ij4gIDxnIHN0eWxlPSJvcGFjaXR5OiAxOyBtaXgtYmxlbmQtbW9kZTogbm9ybWFsOyI+IDxkZWZzLz4gPGcgZmlsdGVyPSIiPjxnIG1vZGU9ImVkaXQiIHN0eWxlPSJvcGFjaXR5OiAxOyI+PGc+IDwvZz4gPHBhdGggZD0iTSAwIDAgQyAwIDM4Ljg3IDEwMCAgMjEuMTMgMTAwIDYwICIgc3Ryb2tlLXdpZHRoPSIycHgiIHN0cm9rZT0icmdiYSgzMCwzMCwzMCwxLjApIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmaWxsPSJub25lIiBzdHlsZT0ic3Ryb2tlLWxpbmVqb2luOiByb3VuZDsiLz4gPGc+PHBhdGggZD0iTSA5NSA2MCBMIDEwMCA4MCBMIDEwNSA2MCAgeiAiIHN0cm9rZT0icmdiYSgzMCwzMCwzMCwxLjApIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9InJnYmEoMzAsMzAsMzAsMS4wKSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvZz48L2c+ICAgPC9nPiAgPGcgaWQ9ImFuaW1hdGlvbi1jb250YWluZXItUkpITVNhWFE2Ii8+ICAgICAgIDwvZz48L2c+PC9zdmc+"
defaultArea: {x: 0, y: 0, w: 120, h: 60}

import:
    - ./src/line-chart.sch

# initScript for the "Change data points function"
$-def:changeDataPointInitScript:
  $-str: |
    ${baseScriptForFunctions}

    local pathItem = findChildItemsByTag('dataset-path').find((item) => { item.getName() == name })
    if (!pathItem || pathItem.getShape() != 'path') {
      stop()
      return
    }

    local values = data.split(',').map(parseInt)
    if (pathItem.totalPaths() == 0) {
      pathItem.addPath()
    }
    local numPoints = pathItem.totalPathPoints(0)
    if (numPoints < values.size) {
      local lastPointIdx = numPoints - 1
      local lastPointY = pathItem.getPathPointPos(0, lastPointIdx).y

      for (local i = numPoints; i < values.size; i++) {
        if (lineType == 'smooth') {
          pathItem.addBezierPoint(0, lastPointIdx * dx, lastPointY, 0, 0, 0, 0)
        } else {
          pathItem.addPoint(0, lastPointIdx * dx, lastPointY)
        }
      }
    }

    local srcPoints = pathItem.getPathPoints(0)
    local dstPoints = List()
    values.forEach((value, idx) => {
      dstPoints.add(Point(idx * dx, (yMax - value) * plotHeight / dy))
    })

    local lastDstPoint = dstPoints.get(dstPoints.size - 1)
    for (local i = values.size; i < numPoints; i++) {
      dstPoints.add(lastDstPoint)
    }

    // smoothening the points
    smoothenPoints(dstPoints)


$-def:changeDataPointLoopScript: |
  changePointsInAnimation(pathItem, srcPoints, dstPoints, t)


$-def:changeDataPointEndScript: |
  if (numPoints > values.size) {
    for (local i = values.size; i < numPoints; i++) {
      pathItem.removePathPoint(0, i)
    }
  }


$-def:addDatasetInitScript:
  $-str: |
    ${baseScriptForFunctions}

    local pathItem = buildItem('path', name)
    pathItem.mount(plot)
    pathItem.setPos(0, 0)
    pathItem.setWidth(plot.getWidth())
    pathItem.setHeight(plot.getHeight())
    pathItem.addPath()
    pathItem.tag('dataset-path')

    local values = data.split(',').map(parseInt)

    local valueY = yMax * plotHeight / dy
    for (local i = 0; i < values.size; i++) {
      if (lineType == 'smooth') {
        pathItem.addBezierPoint(0, i * dx, valueY, 0, 0, 0, 0)
      } else {
        pathItem.addPoint(0, i * dx, valueY)
      }
    }

    local srcPoints = List()
    local dstPoints = List()
    values.forEach((value, idx) => {
      srcPoints.add(Point(idx * dx, valueY))
      dstPoints.add(Point(idx * dx, (yMax - value) * plotHeight / dy))
    })

    // smoothening the points
    smoothenPoints(dstPoints)

$-def:addDatasetLoopScript: |
  changePointsInAnimation(pathItem, srcPoints, dstPoints, t)
  pathItem.setOpacity(100 * t)




$-def:removeDatasetInitScript:
  $-str: |
    ${baseScriptForFunctions}

    local pathItem = findChildItemsByTag('dataset-path').find((item) => {item.getName() == name})
    if (!pathItem || pathItem.getShape() != 'path') {
      stop()
      return
    }

    local srcPoints = pathItem.getPathPoints(0)
    local dstPoints = List()
    srcPoints.forEach((p, idx) => {
      dstPoints.add(Point(idx * dx, 0))
    })

$-def:removeDatasetLoopScript:
  $-str: |
    changePointsInAnimation(pathItem, srcPoints, dstPoints, t)
    pathItem.setOpacity(100 * (1 - t))

$-def:removeDatasetEndScript:
  $-str: |
    pathItem.remove()


item:
  id: root
  name: Line chart
  shape: rect
  shapeProps:
    fill:
      type: solid
      color: rgba(200,200,200,1)
    strokeColor: rgba(200,200,200,1)
    cornerRadius: {$-expr: cornerRadius}
  locked: false
  area:
    x: 0
    y: 0
    w: {$-expr: width}
    h: {$-expr: height}
  functions:
  - id: func1
    name: Change data points
    args:
    - id: arg-index
      name: name
      value: "Data 1"
      type: string
      description: The name of a dataset
    - id: arg-data
      name: data
      value: 1, 2, 4, 5
      type: string
      description: New data point values (comma separated)
    props:
      initScript: {$-ref: changeDataPointInitScript}
      script: {$-ref: changeDataPointLoopScript}
      endScript: {$-ref: changeDataPointEndScript}
      animated: true
      animationType: "animation"
      animationDuration: 0.5
      transition: "ease-out"
      inBackground: true

  - id: func2
    name: Add dataset
    args:
    - id: arg-name
      name: name
      value: "New data"
      type: string
      description: The name of a dataset
    - id: arg-data
      name: data
      value: 1, 2, 4, 5
      type: string
      description: New dataset values (comma separated)
    - id: arg-color
      name: color
      value: "#355E97FF"
      type: color
    - id: arg-stroke-size
      name: strokeSize
      value: 2
      type: number
    - id: arg-stroke-pattern
      name: strokePattern
      value: solid
      type: stroke-pattern
    props:
      initScript: {$-ref: addDatasetInitScript}
      script: {$-ref: addDatasetLoopScript}
      endScript: ''
      animated: true
      animationType: "animation"
      animationDuration: 0.5
      transition: "ease-out"
      inBackground: true


  - id: func-delete-dataset
    name: Delete dataset
    args:
    - id: arg-name
      name: name
      value: "Data 1"
      type: string
      description: The name of a dataset that should be removed from the plot
    props:
      initScript: {$-ref: removeDatasetInitScript}
      script: {$-ref: removeDatasetLoopScript}
      endScript: {$-ref: removeDatasetEndScript}
      animated: true
      animationType: "animation"
      animationDuration: 0.5
      transition: "ease-out"
      inBackground: true


  childItems:
  - id: grid
    shape: grid
    name: grid
    clip: false
    tags:
      - chart-plot
    area:
      x: 10
      y: 10
      w: {$-expr: "plotWidth"}
      h: {$-expr: "plotHeight"}
    childItems:
    - $-foreach: {source: "datasets", it: "dataset"}
      id: {$-str: "dataset-${dataset.id}"}
      name: {$-expr: "dataset.name"}
      area:
        x: 0
        y: 0
        w: {$-expr: "plotWidth"}
        h: {$-expr: "plotHeight"}
      shape: path
      tags:
        - dataset-path
      shapeProps:
        smoothing: {$-expr: lineType}
        strokeColor: {$-expr: dataset.color}
        strokeSize: {$-expr: dataset.strokeSize}
        strokePattern: {$-expr: dataset.strokePattern}
        paths:
          - id: dataset-path
            closed: false
            pos: relative
            points:
            - $-foreach: {source: "parseDatasetPoints(dataset.values)", it: "point", index: pointIdx}
              $-extend: {$-expr: 'toJSON(point)'}
              id: {$-expr: pointIdx}



