name: Electron app builder


on:
  workflow_call:
    inputs:
      node_version:
        description: 'Node version'
        type: string
        default: 18.x
      schemio_version:
        description: 'Schemio version'
        type: string
        required: true
      attach_to_release:
        description: 'Upload electron packages to release assets'
        type: boolean
        required: false
        default: false

jobs:
  build-mac:
    runs-on: macOS-latest
    name: Build on MacOS
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ github.event.inputs.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ github.event.inputs.node_version }}
      - run: npm ci
      - run: npm run package-electron
      - run: npm run make-electron
      - uses: actions/upload-artifact@v3
        with:
          name: schemio-electron-mac-zip
          path: out/make/zip/darwin/x64/schemio-darwin-x64-${{ github.event.inputs.schemio_version }}.zip
      - run: find out | grep -v .webpack/renderer/assets
      - name: Upload to release asset
        if: ${{ github.event.inputs.attach_to_release == true }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.event.inputs.schemio_version }}
          fail_on_unmatched_files: true
          files: out/make/zip/darwin/x64/schemio-darwin-x64-${{ github.event.inputs.schemio_version }}.zip



  build-linux:
    runs-on: ubuntu-latest
    name: Build on Linux
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ github.event.inputs.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ github.event.inputs.node_version }}
      - run: npm ci
      - run: npm run package-electron
      - run: npm run make-electron
      - uses: actions/upload-artifact@v3
        with:
          name: schemio-electron-linux-rpm
          path: out/make/rpm/x64/schemio-${{ github.event.inputs.schemio_version }}-1.x86_64.rpm
      - uses: actions/upload-artifact@v3
        with:
          name: schemio-electron-linux-deb
          path: out/make/deb/x64/schemio_${{ github.event.inputs.schemio_version }}_amd64.deb
      - run: find out | grep -v .webpack/renderer/assets
      - name: Upload to release asset
        if: ${{ github.event.inputs.attach_to_release == true }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.event.inputs.schemio_version }}
          fail_on_unmatched_files: true
          files: |
            out/make/rpm/x64/schemio-${{ github.event.inputs.schemio_version }}-1.x86_64.rpm
            out/make/deb/x64/schemio_${{ github.event.inputs.schemio_version }}_amd64.deb

  build-win:
    name: Build Windows app
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ github.event.inputs.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ github.event.inputs.node_version }}
      - run: npm ci
      - run: npm run package-electron
      - run: npm run make-electron
      - uses: actions/upload-artifact@v3
        with:
          name: schemio-electron-win-setup
          path: out/make/squirrel.windows/x64/schemio-${{ github.event.inputs.schemio_version }} Setup.exe
      - run: npm install -g tree-cli
      - run: cd out && tree -l 8
      - name: Upload to release asset
        if: ${{ github.event.inputs.attach_to_release == true }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.event.inputs.schemio_version }}
          fail_on_unmatched_files: true
          files: out/make/squirrel.windows/x64/schemio-${{ github.event.inputs.schemio_version }} Setup.exe
